body {
    background-image: url('https://wallpaperaccess.com/full/800696.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;

}


#music {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    flex-wrap: wrap;
}

ul {
    color: lightseagreen;
}

.cart-table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    

}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
}